html,body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
aside,ul,li,a{
    margin:0;
    padding:0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/*左侧导航*/
.monster-treeMenu{
    width:280px;
    position:fixed;
    height:100%;
    background:#188ae2;
    z-index:40;
    box-shadow: 1px 0 20px rgba(0,0,0,.08);
    transition: .2s ease-in;
    overflow-y: scroll;
}
/*可滚动区域*/
.monster-treeMenu .monster-treeMenu-scroll{
    height:calc(100% - 20px);
    position:relative;
}
/*鼠标经过菜单的样式*/
.monster-treeMenu-nav-ul>li>a:hover{
    opacity: 1;
    background: #136eb5;
}
/*a链接的样式*/
.monster-treeMenu-link{
    width:100%;
    padding: 14px 0 14px 0;
    display: flex;
    white-space: nowrap;
    align-items: center;
    line-height: 25px;
    color: #fff;
    position:relative;
}
/*左边的icon大小等*/
.monster-treeMenu-link>.monster-treeMenu-link-left>i{
    margin-right:10px;
    font-size:16px;
    opacity:.6;
}
/*默认菜单字体大小*/
.monster-treeMenu-link .monster-treeMenu-linkName{
    font-size:15px;
}
/*默认下级隐藏*/
.monster-hide{
    display:none;
}
/*子级菜单字体变小*/
.monster-treeMenu .monster-treeMenu-link-child>li>a>.fa-circle-o-notch{
    width: 16px;
    font-size: 12px;
}
/*箭头*/
.monster-treeMenu-link-arrow:after{
    width:0;
    height:0;
    border-right:5px solid transparent;
    border-left:5px solid transparent;
    border-top:7px solid #fff;
    position: absolute;
    content: '';
    right: 1em;
    top: 47%;
    transition: all .2s ease-out;
    transform: rotate(0deg) translate(0, -50%);
}
/*箭头上去*/
.monster-treeMenu-item>.monster-treeMenu-link-active:after{
    transition: all .2s ease-out;
    transform: rotate(180deg) translate(0, 34%);
}
/*a连接左侧区域*/
.monster-treeMenu-link-left{
    position:relative;
}
